* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Container */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

/* Navigation */
nav ul {
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    list-style: none;
    text-align: center;
    padding: 1rem 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

/* Sections */
section {
    padding: 2rem 0;
    background: #fff;
    margin-bottom: 1rem;
}

section h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.about, .services, .testimonials, .contact {
    padding: 2rem;
}

.gallery img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

/* WhatsApp Card */
.whatsapp-card {
    text-align: center;
    padding: 2rem;
    background-color: #25D366;
    color: white;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    transition: background-color 0.3s ease;
}

.whatsapp-card a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}

.whatsapp-card a:hover {
    background-color: #1DA054;
}

.whatsapp-icon {
    margin-right: 10px;
    font-size: 1.5rem;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }

    nav ul li {
        display: flex;
        gap: 10px;
    }
    ul{
        display: flex;
        font-size: 11px;
    }
}
